<style type="text/css">
  div#serviceTemplateContainer {
    display: none;
    width: 50%;
    
  }

  table#serviceTemplate {
    border-style: solid;
    border-width: 1px;

    border: 1px solid #999;
    border-radius: 8px;
    box-shadow: 0 0 10px #999;
  }

  button#serviceClone {
    background: #02c3b1;
  }

  button#serviceDelete {
    background: #eb0077;

    display: none;
  }

  button#functionDelete {
    background: #ebe400;
    font-weight: normal;
    width: 130px;
    text-align: left;
    font-size: 12;

    display: none;
  }

  button#functionAdd {
    background: #56eb00;
    font-weight: normal;
    width: 130px;
    text-align: left;
    font-size: 12;
    margin-right: 4%;
  }
</style>
<script type="text/javascript">
  $(document).ready(function () {
    $("button[id=functionDelete]").button().click(function () {
      console.log("DELETE FUNCTION: button clicked");
      $(this).parents("tr#functionROW").remove();
    });
    $("button[id=functionAdd").button().click(function () {
      console.log("ADD FUNCTION: button clicked");

      var functionTable = $($(this).parents("div#serviceTemplateContainerClone")).find("table#functionTABLE");
      var functionRow = $(functionTable).find("tr#functionROW").last();
      var functionRowClone = $(functionRow).clone(true, true);
      $($(functionRowClone).find("button#functionDelete")).css("display", "block");

      $(functionRowClone).insertBefore($(functionTable).find("tr#addFunctionROW"));
    });

  })
</script>

<div id="serviceTemplateContainer" style="width:100%;">
  <div style="padding:20px; text-align:-webkit-center;">
    <table id="serviceTemplate" style="width:80%;">
      <tbody>
        <tr>
          <td colspan="2">
            <table id="functionTABLE" style="width:100%">
              <tr>
                <th>Functions</th>
              </tr>
              <tr id="functionROW">
                <td>
                  <fieldset>
                    <table style="width:100%">
                      <tr>
                        <th style="width:30%">Name:</th>
                        <td style="width:70%"><input id="functionName" type="text" /></td>
                      </tr>
                      <tr>
                        <th>Procesing Logic:</th>
                        <td><textarea id="functionProcessingLogic" style="width:100%; height:100px;"></textarea></td>
                      </tr>
                      <tr>
                        <td colspan="2" style="text-align:-webkit-right;">
                          <button id="functionDelete">(-) Delete Function</button>
                        </td>
                      </tr>
                    </table>
                  </fieldset>
                </td>
              </tr>
              <tr id="addFunctionROW">
                <td style="text-align:-webkit-right;">
                  <button id="functionAdd">(+) Add Function</button>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>