body {}

div#title {
  height: 10%
}


div#center {
  height: 80%
}

div#navigation {
  float: left;
  background-image: url(../images/background.webp);  
  box-shadow: 10px 10px 5px lightblue;

  width: 25%;
  height: 100%
}

div#body {
  float: right;

  width: 75%;
  height: 100%
}

div#container {
  padding-left: 10px;
}



div#footer {
  height: 5%;
  text-align: center;
}

button#reset {
  float:left; 
  margin-right:10px; 
  width:200px; 
  background:#ff9800; 
  
  display:none;
}
button#back {
  margin-right:10px; 
  width:200px; 
  
  display:none;
}
button#next {
  float: right;
  margin-left:10px; 
  width:200px;
  
  display:none;
}



fieldset {
	border:1px solid #999;
	border-radius:8px;
	box-shadow:0 0 10px #999;  
}